.custom-about-text {
  font-weight: 600;
}

@media screen and (min-width: 1200px) {
  .custom-about-text {
    font-size: 17px;
  }
}

.profile-circle {
    border-radius: 20px 0 20px 0;
    height: 500px;
    width: 335px;
    border: 0px solid rgba(0, 0, 0, 0.781);
}
.profile-width {
    width: 340px;
}
#width-custom {
    width: 100%;
    overflow: hidden;
    height:120%;
    margin-top: -400px;
    z-index: -1;
    background-color: rgb(255, 244, 244);
}

.custom-dark-info {
  margin-top: -240px;
}

.space-about {
  width: 1em;
}

.filler-small {
  height:20px;
}
#width-custom2 {
    width: 100%;
    overflow: hidden;
    height:120%;
    margin-top: -180px;
    z-index: -1;
    background-color: rgb(255, 244, 244);
}
.custom-flex-about {
    display: flex;
}
.about-background {
    background-color: rgb(255, 244, 244);
}

.edit-line {
  border-width: 3px !important;
}

.socials {
  width: 50px;
  height: 50px;
  overflow: hidden;
}

.facebook {
  width:58px;
  margin-left: -3px;
  margin-top: -3px;
}

@media screen and (max-width: 315px) {
  .profile-circle {
    width: 250px;
    height: 380px;
    margin-left: 20px;
  }
}
