@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.fullscreen {
    width: 100%;
}

.custom-flex-home {
    display: flex;
}

.button {
    text-decoration: none;
    height: 40px;
    border-radius: 20px;
    border: 2px rgb(0, 83, 79) solid;
    background-color: rgba(0, 173, 163, 1);
    filter: drop-shadow(0mm 1mm .5mm rgba(0, 0, 0, 0.432));
}

.no-margin {
    margin: 0 !important;
}

.space {
    width: 1em;
}

.big-quicksand {
    font-family: Quicksand;
    font-size: 130px;
}

.horizontal-line {
    border-top: 2px solid black;
}

.small-filler {
    height:30px;
}

.bold {
    font-weight: bold !important;
}

.white {
    color: white;
}

.absolute {
    position: absolute !important;
}

.bolder {
    font-weight: bolder !important;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
} 

.vertical-line {
    width: 2px;
    border: 2px solid black;
    z-index: 1;
}

.med-quicksand {
    font-family: Quicksand;
    font-size: 50px;
}

.less-med-quicksand {
    font-family: Quicksand;
    font-size: 40px;
}

.less-med-quicksand-permanent {
    font-family: Quicksand;
    font-size: 40px;
}

.filler {
    height: 60px;
}

.size1{
    height:882px;
    width: 100%;
    margin-top: -125px;
}

.size15 {
    height:882px;
    width: 100%;
}

.size2 {
    height: 882px;
    width: 100%;
}

.size3 {
    height: 1000px;
    width: 100%;
}

.pic-container {
    overflow: hidden;
    height: 300px;
}

.project-box {
    background-color: rgb(0,128,128);
    border: 1px solid black;
    margin-top: 20px;
    margin-bottom: 20px;
}

.custom-contact-input {
    background-color: rgba(244, 244, 244, 1);
    border: 0px !important;
}

.width-input {
    width: 400px;
}

.inside-pic {
    height: 300px;
}

.under-766 {
    display: none;
}

.underlined {
    text-decoration: underline;
}

.black-background {
    background-color: rgb(0, 0, 0);
    color: white;
}

.circle {
    border-radius: 50%;

}
//description about
.custom-med-quicksand {
    font-size: 35px;
}

.box>p {
    margin-right: 50px;
}

.side-drop-triangle {
    height: 1em;
}

.learn-more-on {
    transform: rotate(-90deg);
    animation: move-right .5s;
}

@keyframes move-right {
    0% {
        transform: rotate(0);
    } 100% {
        transform: rotate(-90deg);
    }
}

.learn-more-off {
    animation: move-down .5s;
}

@keyframes move-down {
    0% {
        transform: rotate(-90deg);
    } 100% {
        transform: rotate(0);
    }
}

.display-on {
    display: flex;
    position: absolute;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-right: -590px;
    font-size: 25px;

}

.no-display {
    display: none;
}

@media screen and (max-width: 1100px) and (min-width: 766px) {
    .box::before {
        content: "";
        display: block;
        height: 80%;
        width: 50px;
        padding: 20px;
        margin: 20px;
        border-radius: 0 1000% 1000% 0;
        margin-top: 20%;
        float: left;
        shape-outside: border-box;
      }
      .box>p {
        margin-top: 20%;
        margin-right: 0;
      }
    .custom-med-quicksand {
        font-size: 30px;
    }
}

@media screen and (max-width: 765px) {
    .box>p {
        margin-top: 20px;
        text-align: center;
        font-size: 20px;
        margin-right: 0;
    }
}

.profile-pic {
    height: 550px;
    padding-left: 150px;
}

.pic-container2{
    display: flex;
    justify-content: center; 
    margin-left: -150px;
    margin-top: 30px;
}

.relative {
    position:relative;
}

@media screen and (min-width: 768px) {
    .col-35 {
        flex: 0 0 33.3333%;
        max-width: 30%;
    }
}

@media screen and (max-width: 980px) {
    .under-980 {
        display: none;
    }
    .display-on {
        margin-right: -500px;
    }
}

@media screen and (max-width: 500px) {
    .under-500 {
        display: none;
    }
    .over-500 {
        display: flex !important;
    }
}

.over-500 {
    display: none;
}

@media screen and (max-width: 766px) {
    .under-766{
        display: inherit;
    }
    .over-766 {
        display: none !important;
    }
    .profile-pic {
        padding-left: 0;
        border: 3px solid gray;
    }
    .pic-container2 {
        margin-left: 0 !important;
        overflow: hidden;
    }
}

@media screen and (max-width: 1213px) {
    .custom-header-text{ font-size: 100px; }
}

@media screen and (max-width: 943px) {
    .custom-header-text{ font-size: 80px; 
        margin-top: 80px;
    }
}
@media screen and (max-width: 400px) {
    .custom-header-text{ font-size: 50px; 
        margin-top: 50px;
    }
}

@media screen and (max-width: 1299px) {
    .under-1300 {
        display:none;
    }
    .over-1300 {
        display: inherit !important;
    }
    .med-quicksand {
        font-family: Quicksand;
        font-size: 30px;
    }
    
    .less-med-quicksand {
        font-family: Quicksand;
        font-size: 20px;
    }
}


@media screen and (min-width: 1300px) {
    .over-1300 {
        display: none !important;
    }
}

@media screen and (min-width: 1000px) {
    .big-margin-top {
        margin-top: 50px;
    }
}

@media screen and (max-width: 580px) {
    .over-350 {
        display: none !important;
    }
}

@media screen and (max-width: 1300px) and (min-width: 760px) {
    .custom-filler {
        height: auto;
    }
}

.title-projects {
    display: none;
}

.border-transparent:hover {
    border: 0px solid transparent;
    
    .title-on {
        display: block !important;
        padding: 5px;
        background-color: black;
        font-weight: bolder;
        color: white;
    }
    .title-off {
        display: none;
    }
    .blur-on {
        filter: blur(3px);
        height: 320px !important;
        animation: blur 1s;
    }
    @keyframes blur {
        0% {
            filter: blur(0);
            height: 300px;
        } 100% {
            filter: blur(3px);
            height: 320px;
        }
    }
    .blur-off {
        filter: blur(0);
        height: 300px !important;
        animation: blur-in 1s;
    }
    @keyframes blur-in {
        0% {
            filter: blur(3px);
            height: 320px;
        } 100% {
            filter: blur(0);
            height: 300px;
        }
    }
}
.blur-on:hover {
    filter: blur(3px);
    height: 320px !important;
    animation: blur 3s;
}
@keyframes blur {
    0% {
        filter: blur(0);
        height: 300px;
    } 100% {
        filter: blur(3px);
        height: 320px;
    }
}
.blur-off:hover {
    filter: blur(0);
    height: 300px !important;
    animation: blur-in 3s;
}
@keyframes blur-in {
    0% {
        filter: blur(3px);
        height: 320px;
    } 100% {
        filter: blur(0);
        height: 300px;
    }
}
.position3 {
    z-index: 3;
}